.container {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33367E;
    color: #ffffff;
    padding-top: 0;
    font-size: 0.9rem;
}

.footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.footerLinksBG {
    width: 100vw;
    background-color: #27285c;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
}

.footerLinks {
    width: 95%;
    max-width: 65rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.siteLogo {
    flex-grow: 1;
    width: 95%;
    max-width: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 2.5rem;
    margin: auto;
    border-radius: 50%;
}

/* .footer > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
} */