.App {
  position: relative;
  min-height: 100svh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.appTop {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.App-link {
  color: #61dafb;
}

.hoverShow {
  position: absolute;
  width: fit-content;
  max-width: 160px;
  display: block;
  padding: 0.5rem;
  background-color: rgb(50, 50, 50);
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  white-space: break-spaces;
  text-align: center;
  z-index: 5;
}

/* .goToTop {
  bottom: 2rem;
  left: calc(100vw - 7rem);
  padding: 0.5rem;
  background-color: rgba(191, 191, 191, 0.551);
  backdrop-filter: blur(10px);
  border-radius: 0.3rem;
  font-size: 0.7rem;
  z-index: 15;
}

.goToTop:hover {
  cursor: pointer;
} */
