.App {
  /* position: relative; */
  min-height: 100dvh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.App-link {
  color: #61dafb;
}

.dark {
  background-color: #222;
  color: whitesmoke;
}

/* .goToTop {
  bottom: 2rem;
  left: calc(100vw - 7rem);
  padding: 0.5rem;
  background-color: rgba(191, 191, 191, 0.551);
  backdrop-filter: blur(10px);
  border-radius: 0.3rem;
  font-size: 0.7rem;
  z-index: 15;
}

.goToTop:hover {
  cursor: pointer;
} */
